/** 
folha de estilo do site CQuintas Nutri
@author Vitoria Cristina Coreea dos Santos
*/

/* Layout ********************************

/* Variaveis */
:root {
    --verdeclaro: #7a9d8b;
    --verdeescuro: #4c5757;
    --verdemedio: #8caa95;
    --laranjamedio: #f89827;
    --cinzamedio: #393232;
    --branco: #ffffff;
    --preto: #000;
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", "Poppins";
}

.container {
    display: flex;
}

/* Fim - Layout >>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/*/* Smartphone portrait >>>>>>>>>>>>>>>>>>>>>>>>>>*/

/*fim do smartphone portrait >>>>>>>>>>>>>>>>>>>>>>*/
/*cabeçalho*/
header {
    display: flex;
    align-items: center;
    /* centraliza verticalmente */
    padding: 0 20px;
    /* espaço nas laterais */
    background-color: var(--verdemedio);
    height: 70px;
}

.logo img {
    height: 128px;
    /* ajusta para caber dentro do header */
    width: auto;
    /* mantém proporção */
}

#check {
    display: none;
    /*sempre que quiser remover alguma coisa */
}

label {
    font-size: 3rem;
    color: rgba(245, 245, 220, 0.75);
    position: fixed;
    top: 5px;
    right: 15px;
}

nav ul {
    list-style: none;
    height: 100vh;
    position: fixed;
    top: 60px;
    background-color: rgba(0, 128, 0, 0.486);
    width: 65%;
    /*tamanho da tela que vai pegar o menu*/
    right: -65%;
    /*Ajustar com width*/
    transition: all 0.5s;
}

/* açao para uma caixa check*/
/*quando selecionado mudar ul*/
#check:checked~ul {
    right: 0px;
}

nav ul li {
    padding: 15px;
    border-bottom: 1px solid var(--cinzamedio);
    text-align: right;
}

nav ul li a {
    text-decoration: none;
    color: var(--preto);
}

/* Principal banner */

main {
    height: 90vh;
    background: url(img/bannerprincipal.png);
    background-size: cover;
    background-position: center;
}

main .container {
    /* Relativo ao main */
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h1 {
    color: var(--branco);
    /* font-family */
    font-size: 2rem;
    text-shadow: 10px 10px 5px var(--preto), 0px 5px 5px rgb(0, 0, 0), 0px 15px 15px rgb(0, 0, 0), 0px 20px 20px rgba(0, 0, 0, 0.993);
    margin-bottom: 10px;
}

main h2 {
    color: var(--branco);
    font-size: 19px;
    font-family: OpenSans;
    text-shadow: 10px 10px 5px var(--preto), 0px 5px 5px rgb(0, 0, 0), 0px 15px 15px rgb(0, 0, 0), 0px 20px 20px rgba(0, 0, 0, 0.993);
    margin-bottom: 90px;
}

/* Destaque */
#destaque {
    padding: 50px 10px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(./img/background.jpg);
    background-size: cover;
    background-position: center;
}

#destaque .container {
    flex-direction: column;
}

#hero {
    text-align: center;
}

#hero img {
    width: 300px;
    height: 300px;
    margin-bottom: 25px;
}

.hero-text h2 {
    font-size: 1.6rem;
    color: var(--branco);
    margin-bottom: 15px;
}

.hero-text p {
    color: var(--branco);
}

.topic {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.topic p {
    margin-left: 15px;
}

.sobre {
    padding: 80px 20px;
    background-color: var(--verdeescuro);
    text-align: center;
}

.sobre h2 {
    font-size: 2.5rem;
    color: var(--branco);
    margin-bottom: 20px;
}

.sobre p {
    font-size: 1rem;
    max-width: 500px;
    margin: 0 auto 30px auto;
    color: var(--branco);
    line-height: 1.6;
}



/* Smartphone landscape */
@media (min-width: 576px) {

    /* layout */
    .container {
        max-width: 540px;
    }

    /* Cabeçario */
    nav ul {
        width: 40%;
        right: -40%;
    }

    /* Principal main */
    main {
        height: 75vh;
    }

    main h1 {
        font-size: 2.75rem;
    }

    main h2 {
        font-size: 2.5rem;
    }
}

/* Destaque */
#destaque {
    padding: 50px 0px;
}

#destaque .container {
    flex-direction: row;
    align-items: center;
}

#hero {
    text-align: left;
}

#hero img {
    width: 100px;
    height: 100px;
    margin: 1px 40px 0px 0px;
}

.topic {
    display: none;
}


/* fim smartphone landscape >>>>>>>>>>>>>>>>>>>>>>>>*/


/* Tablet portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 768px) {

    /* layout */
    .container {
        max-width: 720px;

    }

    /* principal main */
    main h1 {
        font-size: 3.9rem;
    }

    main h2 {
        font-size: 3rem;
    }
}

/*fim tablet portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


/* Tablet landscape */
@media (min-width: 992px) {

    /* layout */
    .container {
        max-width: 960px;
    }

    /* Principal main */

}

/* fim do Tablet landscape>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/


/* Notebook/ PC - HD */
@media (min-width: 1200px) {

    /* layout */
    .container {
        justify-content: space-between;
        max-width: 1140px;
    }

    /* Cabeçalho */
    header {
        height: 200px;
    }

    .logo img {
        width: 200px;
        height: 200px;
    }

    label {
        display: none;
    }

    nav ul {
        position: static;
        width: 100%;
        height: auto;
        background-color: transparent;
        margin-top: 20px;
    }

    nav ul li {
        float: left;
        border: 0;
    }

    nav ul li a:hover {
        color: var(--preto);
    }

    /* Principal */
    main {
        height: 90vh;
    }

    /* Destaque */
    #destaque {
        /* background-attachment: fixed; */
    }

    #hero img {
        width: 400px;
        height: 400px;
    }

    .hero-text h2 {
        font-size: 2rem;
    }

    .topic {
        display: flex;
    }

    .about {
        padding: 80px 20px;
        background-color: var(--verdeescuro);
        text-align: center;
    }

    .about h2 {
        font-size: 2.5rem;
        color: var(--branco);
        margin-bottom: 20px;
    }

    .about p {
        font-size: 1.3rem;
        max-width: 800px;
        margin: 0 auto 30px auto;
        color: var(--branco);
        line-height: 1.6;
    }
    
    /* Responsivo para o vídeo */
    

}

/*---fim de landscape-------------------------*/

/* Notebook / PC - HD*/
@media (min-width: 1200px) {

    /* layout */
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1140px;
        /* mantém o conteúdo centralizado */
        width: 100%;
        margin: 0 auto;
        padding: 0 40px;
        /* espaçamento nas laterais */
    }

    /* Cabeçario */
    header {
        width: 100%;
        height: 100px;
        background-color: var(--verdemedio);
        display: flex;
        align-items: center;
        /* Centraliza o logo e o menu verticalmente */
        justify-content: center;

    }

    .logo img {
        width: 180px;
        height: auto;
        object-fit: contain;
    }

    label {
        display: none;
    }

    nav ul {
        position: static;
        width: 100%;
        height: auto;
        background-color: transparent;
        margin-top: 0px;
        font-size: 1.5rem;
        display: flex;
        justify-content: flex-end;
        /* menu à direita */
        gap: 30px;
        list-style: none;
    }

    nav ul li {
        float: left;
        border: 0;
    }

    nav ul li a:hover {
        color: var(--preto);

    }

    /* principal */
    main {
        height: 90vh;
    }

    main h1 {
        font-size: 4rem;
    }

    main h2 {
        font-size: 1rem;
    }
}


/* fim Notebook/ PC - HD >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/


/* Notebook/ PC / TV - Full HD ou 4K */
@media (min-width: 1400px) {

    /* layout */
    .container {
        max-width: 1320px;
    }

    /* principal */
    main h1 {
        font-size: 6rem;
    }

    main h2 {
        font-size: 3rem;
        margin-bottom: 190px;
    }
}

/* fim Notebook/ PC / TV - Full HD ou 4K >>>>>>>>>>>>>>>>>>>>>>>>>>*/