/** 
folha de estilo do site CQuintas Nutri
@author Vitoria Cristina Coreea dos Santos
*/

/* Layout ********************************

/* Variaveis */
:root {
    --verdeclaro: #7a9d8b; 
    --verdeescuro:  #4c5757;
    --verdemedio: #8caa95;
    --laranjamedio: #f89827;
    --cinzamedio: #393232;
    --branco: #ffffff;
    --preto: #000;
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Open Sans", "Poppins";
}

.container{
    display: flex;
}

/* Fim - Layout >>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/*/* Smartphone portrait >>>>>>>>>>>>>>>>>>>>>>>>>>*/

/*fim do smartphone portrait >>>>>>>>>>>>>>>>>>>>>>*/
/*cabeçalho*/
header {
    height: 80px;
    background-color: #7a9d8b;
}

.logo img {
    width: 200px;
    height: 200px;
    
}
#check {
    display: none; /*sempre que quiser remover alguma coisa */
}

label{
    font-size: 3rem;
    color: rgba(245,245,220,0.75);
    position: fixed;
    top: 5px;
    right: 15px;
}
 nav ul {
   list-style: none;
   height: 100vh;
   position: fixed;
   top: 60px;
   background-color: rgba(0, 128, 0, 0.486);
   width: 65%; 
   /*tamanho da tela que vai pegar o menu*/
   right: -65%;
   /*Ajustar com width*/
   transition: all 0.5s;
 }
 /* açao para uma caixa check*/
 /*quando selecionado mudar ul*/
 #check:checked~ul {
   right: 0px;
 }
 nav ul li {
    padding: 15px;
    border-bottom: 1px solid var(--cinzamedio);
    text-align: right;
 }

 nav ul li a {
    text-decoration: none;
    color: var(--preto);
 }


/* Smartphone landscape */
@media (min-width: 576px) {
    
}
/* fim smartphone landscape >>>>>>>>>>>>>>>>>>>>>>>>*/


/* Tablet portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 768px) {
   
}
/*fim tablet portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


/* Tablet landscape */
@media (min-width: 992px) {
    
}
/* fim do Tablet landscape>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/


/* Notebook/ PC - HD */
@media (min-width: 1200px) {
   
}
/* fim Notebook/ PC - HD >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/


/* Notebook/ PC / TV - Full HD ou 4K */
@media (min-width: 1400px) {
    
}
/* fim Notebook/ PC / TV - Full HD ou 4K >>>>>>>>>>>>>>>>>>>>>>>>>>*/