/** 
folha de estilo do site CQuintas Nutri
@author Vitoria Cristina Coreea dos Santos
*/

/* Layout ********************************

/* Variaveis */
:root {
    --verdeclaro: #7a9d8b;
    --verdeescuro: #4c5757;
    --verdemedio: #8caa95;
    --laranjamedio: #f89827;
    --cinzamedio: #393232;
    --branco: #ffffff;
    --preto: #000;
}

/* fim da variaveis cores *************************/

/* CSS reset-----------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", "Open Sans";
}

.container {
    display: flex;
    margin: 0 auto;
    /*Centralizar o leyout e o conterner*/
}

/* Criar  Botão  */
.btn {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    background-color: var(--verdemedio);
    padding: 10px 20px;
    color: var(--branco);
    border-radius: 30px;
    text-shadow: 0 0 10px rgba(21, 15, 12, 0.901);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.897);

}
/*cartao*/
.card {
    width: 341px;
    right: 520px;
    background-color: var(--verdemedio);
    margin-top: 25px;
    border: 2px solid var(--cinzamedio);
    border-radius: 25px;
}
.card img {
    border-radius: 25px 25px 0px 0px;
}
.card h2 {
    font-size: 1.3rem;
    color: var(--cinzamedio);
}
.card p {
    color: var(--branco);
    text-align: center;
    padding: 0px 10px 30px 10px;
}


/* fim do layout*********************************/

/* Smartphone Portrait --------------------------------*/
/* cebeçario*/


header {
    height: 80px;
    background-color: var(--verdeclaro)
}

.logo img {
    width: 200px;
    height: 200px;

}

#check {
    display: none;
    /*sempre que quiser remover alguma coisa */
}

label {
    font-size: 3rem;
    color: rgba(245, 245, 220, 1);
    position: fixed;
    top: 5px;
    right: 15px;
}

nav ul {
    list-style: none;
    height: 100vh;
    position: fixed;
    top: 80px;
    background-color: rgba(13, 161, 99, 0.699);
    width: 65%;
    /*tamanho da tela que vai pegar o menu*/
    right: -65%;
    /*Ajustar com width*/
    transition: all 0.5s;
}

/* Ação para uma caixa check*/
/*Quando selecionado mudar ul */
#check:checked~ul {
    right: 0px;
    /*background-color:  var(--marron); /*Mudar o ul total*/
}

nav ul li {
    padding: 15px;
    border-bottom: 1px solid var(--verdeescuro);
    text-align: right;
}

nav ul li a {
    /*Remover o sublinhado do texto*/
    text-decoration: none;
    color: var(--branco);

}

/* Principal banner */

main {
    height: 80vh;
    background:
        linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url(img/bannerprincipal.png);
    background-size: cover;
    background-position: center;
}

main .container {
    /* Relativo ao main */
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h1 {
    color: var(--branco);
    /* font-family */
    font-size: 2rem;
    text-shadow: 10px 10px 5px var(--preto), 0px 5px 5px rgb(0, 0, 0), 0px 15px 15px rgb(0, 0, 0), 0px 20px 20px rgba(0, 0, 0, 0.993);
    margin-bottom: 10px;
}

main h2 {
    color: var(--branco);
    font-size: 19px;
    font-family: OpenSans;
    text-shadow: 10px 10px 5px var(--preto), 0px 5px 5px rgb(0, 0, 0), 0px 15px 15px rgb(0, 0, 0), 0px 20px 20px rgba(0, 0, 0, 0.993);
    margin-bottom: 90px;
}

/* Destaque */

#destaque {
    padding: 50px 10px;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(./img/background.jpg);
    background-size: cover;
    background-position: center;

}


#destaque .container {
    flex-direction: column;
}

#hero {
    text-align: center;
}

#hero img {
    width: 300px;
    height: 300px;
    margin-bottom: 25px;
}

.hero-text h2 {
    font-size: 1.6rem;
    color: var(--preto);
    margin-bottom: 15px;

}

.topic {
    display: flex;
    align-items: center;
    margin-top: 15px;
}


.hero p {
    margin-top: 15px;
}

.hero-text {
    color: var(--preto);
}

/* Sobre */

#sobre {
    padding: 50px 10px;
    /* background: linear-gradient(to bottom, #f7e0c1ef, #5D4037); */
    background: linear-gradient(rgba(124, 122, 122, 0.788), rgba(139, 139, 139, 0.356)),
        /* camada de transparência */
        url(./img/background.jpg);
    background: var(--verdeescuro);
    background-size: cover;
    background-position: center;
}

#sobre .container {
    flex-direction: column;
}

.sobre-text {
    text-align: center;
}

.sobre-text h2 {
    margin-top: auto;
    font-size: 1.6rem;
    margin-bottom: 5px;
    color: #ffffff;
}

.sobre-text p {
    font-size: 1rem;
    color: var(--branco);
    font-family: 'Poppins', sans-serif;
    margin-bottom: 25px;
}

#sobre-video iframe {
    width: 355px;
    height: 196px;
    border-radius: 10px;
}

/* conteudo */

#planejamento {
    padding: 50px 10px;
    background: linear-gradient(rgba(124, 122, 122, 0.788), rgba(0, 0, 0, 0.356)),
        /* camada de transparência */
        url(./img/background.jpg);
    background-size: cover;
    background-position: center;
}

#planejamento .container {
    flex-direction: column;
}

.planejamento-text {
    text-align: left;
}

.planejamento-text h2 {
    margin-top: auto;
    font-size: 1.6rem;
    margin-bottom: 5px;
    color: #ffffff;
}

.conteudo-text p {
    color: var(--branco);
    margin-bottom: 30px;
}

.botao {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    background-color: var(--verdeescuro);
    padding: 15px 30px;
    color: var(--cinzamedio);
    border-radius: 30px;
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.9);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.897);

}

#qrcode {
    display: none;
}

#conteudo span {
    display: none;
}

/*-------------------------cartoes-----------------------------------*/
#conteudo {
    background-color: var(--verdeescuro);
    padding: 50px 0px;
}

#conteudo .container {
    flex-direction: column;
    text-align: center;
}
#conteudo .btn {
    background-color: var(--laranjamedio);
}

/*-------------------------cartoes-----------------------------------*/


/*fim do Smartphone portrait----------------------------- */




/*-------------------------Rodapé---------------------*/
address {
    padding: 35px 0px;
    background-color: #7a9d8b;
    background-size: cover;
    background-position: center;
    color: #ffffff;
}

address a {
    text-decoration: none;
    color: #ffffff;
}

address img {
    padding-top: 15px;
}








/*------------------------- Fim do Rodapé---------------------*/
/* smartphone landscape ----------------------*/
@media (min-width: 576px) {

    /* layout */
    .container {
        max-width: 540px;
    }

    /* Cabeçario */
    nav ul {
        width: 35%;
        right: -35%;
        transition: all 0.5s;
    }

    /* Principal main */
    main {
        height: 70vh;
    }

    main h1 {
        font-size: 1.95rem;
    }

    main h2 {
        font-size: 1rem;
    }

    /* Destaque */

    #destaque {
        padding: 50px 0px;
    }

    #destaque .container {
        flex-direction: row;
        align-items: center;
    }

    #hero {
        text-align: left;
    }

    #hero img {
        width: 200px;
        height: 200px;
        margin: 0px 25px 0px 0px;
    }

    .topic {
        display: none;
    }

    /* Sobre */

    #sobre {
        padding: 50px 0px;
    }


    .sobre-text {
        text-align: left;
    }

    #sobre-video iframe {
        width: 530px;
        height: 250px;
        border-radius: 10px;
    }


}

/*fim do landscape----------------------------*/

/* Tablet portrait -----------------------------*/
@media (min-width: 768px) {

    /* layout */
    .container {
        max-width: 720px;

    }

    /* principal main */
    main h1 {
        font-size: 3.9rem;
    }

    main h2 {
        font-size: 3rem;
    }

    /* Sobre */


    #sobre {
        padding: 50px 0px;
    }

    .sobre-text {
        font-size: 1.5rem;
    }


    #sobre-video iframe {
        width: 600px;
        height: 280px;
        border-radius: 10px;
    }

}

/* fim do tablet ----------------------------*/

/* Tablet landscape */
@media (min-width: 992px) {

    /* layout */
    .container {
        max-width: 960px;
    }

    /* Principal main */

}

/*---fim de landscape-------------------------*/

/* Notebook / PC - HD*/
@media (min-width: 1200px) {

    /* layout */
    .container {

        justify-content: space-between;
        max-width: 1140px;
    }

    /* Cabeçario */
    header {
        height: 100px;

    }

    .logo img {
        width: 200px;
        height: 200px;
    }

    label {
        display: none;
    }

    nav ul {
        position: static;
        width: 100%;
        height: auto;
        background-color: transparent;
        margin-top: 25px;
        font-size: 1.5rem;
    }

    nav ul li {
        float: left;
        border: 0;
    }

    nav ul li a:hover {
        color: var(--preto);

    }

    /* principal */
    main {
        height: 85vh;
    }

    main h1 {
        font-size: 4rem;
    }

    main h2 {
        font-size: 1rem;
    }

    /* destaque */

    #destaque {
        background-attachment: fixed;
    }

    #hero img {
        width: 400px;
        height: 400px;
    }

    .hero-text h2 {
        font-size: 2rem;
    }

    .topic {
        display: flex;
    }

    .topic p {
        margin-left: 15px;
    }

    /* sobre */
    #sobre .container {
        flex-direction: row;
        align-items: center;
    }

    #sobre-video iframe {
        margin: 0px 0px 0px 50px;
    }

    /* conteudo */

    #conteudo .container {
        flex-direction: row;
        align-items: center;
    }

    #qrcode {
        display: inline;
    }

    #conteudo span {
        display: inline;
        color: var(--branco)
    }

    #qrcode img {
        width: 200px;
        height: 200px;
    }

    .conteudo-text {
        font-size: 1rem;
    }

}

/*- fim do notebook ------------------------ */

/* Notebook /PC /TV  -  FULL HD ou 4k*/
@media (min-width: 1400px) {

    /* layout */
    .container {
        max-width: 1320px;
    }

    /* principal */
    main h1 {
        font-size: 6rem;
    }

    main h2 {
        font-size: 3rem;
        margin-bottom: 190px;
    }
}

/*Fim - Notebook---------------------------------  */